@import './bootstrap.css';
@import './variables.scss';
@import '../../../../../node_modules/bourbon/app/assets/stylesheets/bourbon';

body {
  color: $primary-color;
}

a {
  color: $secondary-color;
}

form {
  margin: 25px 0;
}

.text-gray {
  color: $tertiary-color;
}

.btn-custom {
  margin-top: 10px;
  background-color: $additional-color;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 20px;

  &:hover,
  &:active,
  &:focus {
    color: white;
  }

  &:hover {
    opacity: .8;
  }

  &.blue {
    background-color: $secondary-color;
  }
}
