@import '../../../common/assets/styles/front.scss';

.list {
  padding: 25px 0;
  margin-bottom: 35px;
  border-bottom: 1px solid $gray-light;

  @media (min-width: $screen-sm-min) {
    padding: 15px 0;
    margin-bottom: 15px;
  }

  &:last-child {
    border: 0;
  }

  h3 {
    margin-top: 10px;
  }

  time {
    display: block;
    margin-bottom: 10px;
  }
}